.error-message {
    margin-top: 0.5rem;
    small {
      display: block;
    }
  }

.promtpay-input:disabled{
  background-color: #e0e0e0; /* เปลี่ยนสีพื้นหลังเมื่อปิดการใช้งาน */
  color: #999999; /* เปลี่ยนสีตัวอักษรเมื่อปิดการใช้งาน */
}

.progress-spinner {
  position: fixed;
  z-index: 999;
  height: 2em;
  width: 2em;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

/* Transparent Overlay */
.progress-spinner:before {
content: '';
display: block;
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-color: rgba(255, 255, 255, 0.8);
}