<div class="p-grid p-dir-col p-ai-center p-jc-center full-height">
  <div class="p-col-12 p-md-10">
    <p-table [value]="paginatedOrders" [tableStyle]="{ 'min-width': '50rem' }" responsiveLayout="scroll" emptyMessage="ไม่มีข้อมูลคำสั่งซื้อ">
      <ng-template pTemplate="header">
        <tr>
          <th>รหัสคำสั่งซื้อ</th>
          <th>วันที่</th>
          <th>ยอดรวม</th>
          <th>สถานะ</th>
          <th>รายละเอียด</th>
          <th>จ่ายเงิน</th>
          <th>ยกเลิก</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-order>
        <tr>
          <td>{{ order.id }}</td>
          <td>{{ order.created_at | date:'short' }}</td>
          <td>{{ calculateDiscountedTotal(order) | currency:'THB':'symbol':'1.2-2' }}</td>
          <td>
            <p-tag [value]="translateOrderStatus(order.status)" [severity]="getSeverity(order.status)" ></p-tag>
          </td>
          <td>
            <button pButton type="button" label="ดูรายละเอียด" icon="pi pi-search" class="p-button-info" (click)="viewOrderDetails(order)"></button>
          </td>
          <td>
            <button pButton type="button" label="จ่ายเงิน" icon="pi pi-money-bill" class="p-button-success" *ngIf="order.status === 'pending'" (click)="payOrder(order)"></button>
          </td>
          <td>
            <button pButton type="button" label="ยกเลิก" icon="pi pi-times" class="p-button-danger" *ngIf="order.status === 'pending'" (click)="confirmCancelOrder(order)"></button>
          </td>
        </tr>
      </ng-template>
    </p-table>
    <p-paginator [rows]="rows" [totalRecords]="orders.length" (onPageChange)="paginate($event)" [rowsPerPageOptions]="[5, 10, 20]"></p-paginator>
  </div>

  <p-dialog header="รายละเอียดคำสั่งซื้อ" [(visible)]="displayDialog" [modal]="true" [style]="{ width: '90%' }" [closable]="true">
    <div *ngIf="selectedOrder">
      <h3>Order ID: {{ selectedOrder.id }}</h3>
      <p-table [value]="selectedOrder.order_details">
        <ng-template pTemplate="header">
          <tr>
            <th>ชื่อสินค้า</th>
            <th>จำนวน</th>
            <th>ราคา</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-detail>
          <tr>
            <td>{{ detail.product.name }}</td>
            <td>{{ detail.quantity }}</td>
            <td>{{ detail.price | currency:'THB':'symbol':'1.2-2' }}</td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </p-dialog>

  <p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle" acceptLabel="Yes" rejectLabel="No"></p-confirmDialog>
</div>
