.full-height {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.p-grid {
  width: 100%;
}

.p-col-12 {
  width: 100%;
}

.p-table {
  width: 100%;

  .p-inputtext {
    width: 60px;
  }

  td, th {
    text-align: center;
    vertical-align: middle;
  }

  .p-datatable-emptymessage {
    text-align: center;
  }

  .no-data-cell {
    font-size: 1.5rem;
    color: #999;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
  }
}

:host ::ng-deep .p-datatable-wrapper {
  min-height: 100vh;
}
