.payment-slip {
    max-width: 100%;
    max-height: 80vh; /* ปรับขนาดตามที่ต้องการ */
    width: auto;
    height: auto;
    display: block;
    margin: 0 auto;
  }
  

  :host {
    display: flex;
    flex-direction: column;
    height: 100vh; /* Full viewport height */
  }
  
  :host ::ng-deep .p-datatable-wrapper {
    min-height: 100vh;
  }