<p-confirmDialog />
<div class="pt-3 flex flex-column">
  <div class="p-col-12 p-md-10 h-full">
    <p-table [value]="orders"   styleClass="p-datatable-gridlines" emptyMessage="ไม่มีข้อมูลสินค้า" responsiveLayout="scroll" [breakpoint]="'960px'" [tableStyle]="{'min-width': '50rem'}" >
      <ng-template pTemplate="header">
        <tr>
          <th>ลำดับ</th>
          <th>ชื่อสินค้า</th>
          <th>ชื่อลูกค้า</th>
          <th>รายละเอียดสินค้า</th>
          <th>ราคารวม</th>
          <th>สถานะการสั่งซื้อ</th>
          <th>หลักฐานการจ่ายเงิน</th>
          <th *ngIf="userRole !== 'customer'">จัดการ</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-order let-i="rowIndex">
        <tr>
          <td>{{ i + 1 }}</td>
          <td>
            @for(data of order.order_details ; track $index){
              <span><br/>
                {{data.product.name}}
              </span>
            }
          </td>
          <td>
            {{ order.user.user_profile.firstname }} {{ order.user.user_profile.lastname }} 
          </td>
          <td>
            <button pButton class="main-button p-button-info w-full sm:w-auto" style="min-width: 150px;"
              label="รายละเอียดสินค้า" icon="pi pi-eye" *ngIf="order.order_details" (click)="viewOrderDetails(order)">
            </button>
          </td>
          <td>{{ order.total_price }} บาท</td>
          <td>
            <p-dropdown [options]="statuses" styleClass="w-full" [(ngModel)]="order.status"
              (onChange)="updateStatus(order)" *ngIf="userRole !== 'customer'">
            </p-dropdown>
            <span *ngIf="userRole === 'customer'">{{ translateOrderStatus(order.status) }}</span>
          </td>
          <td>
            <button pButton class="main-button p-button-success w-full sm:w-auto" style="min-width: 150px;"
              label="ดูสลิป" icon="pi pi-eye" (click)="viewSlip(order)" *ngIf="order.payment_slip">
            </button>
            <span *ngIf="!order.payment_slip">ยังไม่อัพโหลดหลักฐาน</span>
          </td>
          <td *ngIf="userRole !== 'customer'">
            <button pButton label="ยกเลิกออเดอร์" icon="pi pi-times" class="p-button-danger w-full sm:w-auto"
              style="min-width: 150px;" [disabled]="order.status === 'cancelled'" (click)="confirmCancel(order)"
              *ngIf="userRole !== 'customer'">
            </button>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
  <p-dialog header="หลักฐานการชำระเงิน" [(visible)]="displaySlipDialog" [modal]="true" [dismissableMask]="true">
    <ng-container *ngIf="selectedOrder">
      <p-image class="payment-slip" *ngIf="selectedOrder.payment_slip"
        [src]="'data:image/png;base64,' + selectedOrder.payment_slip" alt="Payment Slip" width="350" />
    </ng-container>
  </p-dialog>

  <p-dialog header="รายละเอียดออเดอร์" [(visible)]="displayOrderDetailsModal" [modal]="true" [dismissableMask]="true" [style]="{ width: '90vw' }">
    <app-order-details-modal [orders]="ordersDetail"></app-order-details-modal>
  </p-dialog>
</div>