@import "../../../assets/styles/colors.scss";

::ng-deep .menuCustom{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.logo {
  max-width: 150px;
  min-height: 40px;
}

.iconic {
  font-size: 1rem;
  margin-right: 0.5rem;
  color: $color-pure-white !important;
}

:host ::ng-deep .logout-button-label .p-button-label {
  font-size: 0.6rem;
}

:host ::ng-deep .active {
  background-color: #ececea;
  border-radius: 0.5rem !important;
}


