<div class="navbar-sandbox">
  <p-menubar [model]="items">
    <ng-template pTemplate="start">
      <img
        src="../../../assets/images/logo-2.png"
        height="40"
        class="mr-2 mt-2"
      />
    </ng-template>
    <ng-template pTemplate="end">
      <ng-container *ngIf="currentRole !== null && currentRole !== ''">
        <p-button icon="pi pi-times" [rounded]="true" severity="danger"  label="ออกจากระบบ" (click)="logout()" styleClass="logout-button-label"/>
      </ng-container>
    </ng-template>
  </p-menubar>

  <p-dialog
    header="{{ loginHeader }}"
    [(visible)]="isVisibleLoginModal"
    [resizable]="false"
    [modal]="true"
    [style]="{ width: '25rem' }"
  >
    <div class="appForm z-3">
      <app-login-page></app-login-page>
    </div>
  </p-dialog>

  <p-dialog
    header="{{ registerHeader }}"
    [(visible)]="isVisibleRegisterModal"
    [modal]="true"
    [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }" 
    [style]="{ width: '50vw' }" 
  >
    <div class="appForm">
      <app-register-page [role]="registerRole"></app-register-page>
    </div>
  </p-dialog>

  <p-dialog
    header="{{ editHeader }}"
    [(visible)]="isVisibleEditModal"
    [modal]="true"
    [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }" 
    [style]="{ width: '50vw' }" 
  >
    <div class="appForm">
      <app-edit-page (updateComplete)="handleUpdateComplete($event)"></app-edit-page>
    </div>
  </p-dialog>
</div>
